.container {
    margin-top: 40px;
}

.swiper {
    display: flex;
    justify-content: space-around;
}

.swiper-slide {
    padding: 0;
}

.more {
    margin-right: 34px;
}

.info-product {
    color: #656565;
    font-weight: 300;
    padding: 20px;
    border: 1px solid #ccc;
}

.image-zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.image-zoom:hover {
    transform: scale(1.5);
}

.tag {
    color: #666;
}

.title {
    font-size: 25px;
    font-weight: 100;
    margin: 10px 0;
    color: #666;
}

.ratting {
    padding: 20px 0;
}

.star-ratting {
    color: #ccc;
}

.numReview {
    margin: 0 10px;
}

.price {
    font-size: 30px;
    margin-bottom: 15px;
}

.new-price {
    color: #49b14d;
    font-weight: 600;
    margin-right: 20px;
}

.old-price {
    text-decoration: line-through;
}

.more {
    font-size: 14px;
}

.text-pri {
    color: var(--primary_color);
}

.about {
    padding: 20px 10px;
    font-size: 14px;
   
}
.about p{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.quantity {
    padding: 15px 0;
}

.qty-text {
    color: #666;
}

.inc-dev {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 100px;
}

.inc-dev input {
    height: 100%;
    width: 100%;
    margin: 0 15px;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.inc-btn {
    top: 0px;
    right: -15px;
    position: absolute;
    border: 1px solid #ccc;
    padding: 1px 4px;
    background-color: white;
    color: black;
    border-radius: 0;
}

.inc-btn:hover {
    background-color: white;
}

.dev-btn {
    bottom: 0;
    right: -15px;
    position: absolute;
    border: 1px solid #ccc;
    padding: 1px 6px;
    background-color: white;
    color: black;
    border-radius: 0;
}

.dev-btn:hover {
    background-color: white;
}

.add-cart {
    padding: 10px 20px;
    margin-left: 20px;
    width: 250px;
    background-color: var(--primary_color);
    font-weight: 600;
}

.add-cart:hover {
    background-color: black;
}

.compare-wish {
    padding: 15px 0;
    font-size: 14px;
}

.compare {
    margin-right: 15px;
}

.feature {
    display: flex;
    padding-right: 40px;
    font-size: 14px;
    padding: 20px 0;
}

.item-feature {
    display: flex;
    margin-right: 20px;
}

.item-feature .item-text {
    margin-left: 5px;
}

.share h4 {
    color: #3b3b3b;
}

.list-icon {
    margin-top: 20px;
}

.list-icon span {
    margin-right: 5px;
}

.icon-twi {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: rgb(0, 119, 255);
}

.icon-twi:hover {
    color: white;
    background-color: rgb(0, 119, 255);
}

.icon-face {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #082ed8;
}

.icon-face:hover {
    color: white;
    background-color: #082ed8;
}

.icon-google {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #DD5144;
}

.icon-google:hover {
    color: white;
    background-color: #DD5144;
}

.description-review {
    margin-top: 50px;
}

.description-review nav {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.des-link {
    margin-right: 20px;
    border-bottom: 2px solid var(--primary_color);
}

.rev-link {
    /* border-bottom: 2px solid var(--primary_color); */
    color: #ccc;
}

.description {
    color: #777;
}

.review {
    margin-left: 20px;
    color: #777;
    font-size: 1.0rem;
    display: none;
}

.ratting .numStar {
    margin-right: 20px;
}

.ratting-item {
    margin: 40px 0;
}

.numStar {
    color: rgb(73, 73, 73);
    font-size: 0.8rem;
}

.user-ratting {
    color: rgb(58, 58, 58);
    margin-right: 20px;
    font-weight: 600;
}

.content-ratting {
    margin-top: 20px;
}

.add-comment h3 {
    color: rgb(58, 58, 58);
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}

.add-comment span {
    color: rgb(58, 58, 58);
    margin-right: 10px;
}

.add-comment button {
    background-color: #4d4d4d;
    font-size: 14px;
    padding: 15px 30px;
    font-weight: 600;
}