.blog {
  margin: 40px 0px;
}

.blog h3 {
  margin-bottom: 20px;
}

.blog .info {
  margin-bottom: 20px;
}

.blog .info span {
  margin-right: 5px;
  color: gray;
}

.blog p {
  margin: 20px 0px;
  font-size: 14px;
}

.blog button {
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 30px;
  border: 0.5px solid rgb(219, 219, 219);
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
}

.blog button:hover {
  border: 0.5px solid var(--primary_color);
  background-color: var(--primary_color);
  color: white;
}