.display-product {
    border: 1px solid rgb(221, 221, 221);
    margin: 15px 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(114, 114, 114);
}

.display-style {
    position: relative;
}

.display-style button {
    margin-right: 10px;
    font-size: 18px;
    background-color: white;
    border: none;
}

.display-style button:hover {
    color: var(--primary_color);
}

.dis-3 {
    position: absolute;
    top: -30px;
    left: 2px;
    padding: 5px 7px;
    color: white;
    background-color: var(--primary_color);
    border-radius: 3px;
    font-size: 14px;
    display: none;
}

.dis-4 {
    position: absolute;
    top: -30px;
    left: 45px;
    padding: 5px 7px;
    color: white;
    background-color: var(--primary_color);
    border-radius: 3px;
    font-size: 14px;
    display: none;
}

.dis-list {
    position: absolute;
    top: -30px;
    right: 6px;
    padding: 5px 7px;
    color: white;
    background-color: var(--primary_color);
    border-radius: 3px;
    font-size: 14px;
    display: none;
}

.icon-3:hover .dis-3 {
    display: block;
}

.icon-4:hover .dis-4 {
    display: block;
}

.icon-list:hover .dis-list {
    display: block;
}

.show {
    margin-left: 100px;
}

.show select {
    border: none;
    margin-left: 10px;
}

.sortby select {
    border: none;
    margin-left: 10px;
}

.list-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item {
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    position: relative;
    padding-bottom: 15px;
    margin: 10px;
}

.info {
    padding: 0 10px;
    position: relative;
}

.title {
    color: var(--subtext_color);
    font-size: large;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ratting {
    margin-bottom: 10px;
    color: #dddddd;
}

.new-price {
    color: #49b14d;
    font-weight: 600;
    margin-right: 20px;
}

.old-price {
    color: var(--subtext_color);
    text-decoration: line-through;
}

.cart {
    background: #e9e9e9;
    position: absolute;
    top: 30px;
    right: 2px;
    padding: 7px;
    border-radius: 17px;
}

.sale-off {
    position: absolute;
    color: white;
    text-align: center;
    top: 10px;
    left: 20px;
    padding-top: 2px;
    width: 21%;
    height: 6%;
    background-image: url(https://template.hasthemes.com/alula/alula/assets/img/icons/green-discount-label.webp);
}

.option {
    position: absolute;
    right: 5px;
    top: 50px;
    display: none;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-radius: 10px;
    animation: fadeIn linear 0.7s;
}

.icon {
    padding: 8px 5px;
}

.item:hover .option {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.list-num {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgb(221, 221, 221);
}

.page-num {}

.page-num-1 {
    padding: 100px;
    margin-left: 100px;
}

.page-btn {
    padding: 7px 10px;
    background-color: #f6f6f6;
    margin-left: 4px;
    border-radius: 5px;
}

.page-btn-choose {
    color: white;
    padding: 7px 10px;
    background-color: var(--primary_color);
    margin-left: 4px;
    border-radius: 5px;
}

.page-next {
    padding: 7px 10px;
    background-color: #f6f6f6;
    margin-left: 4px;
    border-radius: 5px;
}

.page-end {
    padding: 7px 10px;
    background-color: #f6f6f6;
    margin-left: 4px;
    border-radius: 5px;
    position: relative;
}

.page-end span {
    position: absolute;
    font-size: 18px;
    top: 3px;
}

.page-text {
    color: var(--subtext_color);
    font-weight: 500;
}

.list-item {
    display: flex;
    padding: 15px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
}

.item-sale-off {
    position: absolute;
    color: white;
    text-align: center;
    top: 25px;
    left: 35px;
    padding-top: 2px;
    width: 6.8%;
    height: 10%;
    background-image: url(https://template.hasthemes.com/alula/alula/assets/img/icons/green-discount-label.webp);
}

.item-info {
    padding: 15px;
}

.item-title {
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

.item-ratting {
    color: rgb(196, 196, 196);
}

.item-description {
    color: var(--subtext_color);
}

.info-tran {
    display: flex;
}

.item-price {
    font-size: 25px;
}

.item-new-price {
    color: #49b14d;
    font-weight: 600;
    margin-right: 20px;
}

.item-old-price {
    color: var(--subtext_color);
    text-decoration: line-through;
}

.tran {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #ccc;
}

.available {
    font-size: 14px;
    color: var(--subtext_color);
}

.available-text {
    color: var(--primary_color);
}

.btn-addcart button {
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 600;
}

.btn-addcart button:hover {
    background-color: var(--primary_color);
    color: white;
}

.item-option {
    text-align: center;
}