.banner {
  margin-top: 50px;
  height: 500px;
  position: relative;
}

.item-banner {
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  animation-name: opacityBanner;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes opacityBanner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 40px;
}

.content p {
  font-size: 30px;
}

.content h1 {
  font-size: 50px;
  margin-top: 10px;
}

.content h2 {
  font-size: 45px;
  margin-top: 10px;
}

.content button {
  background-color: var(--primary_color);
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.switch-banner {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: white;
  border: 50%;
  border-radius: 10px;
  width: 80px;
  height: 20px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.switch-banner span {
  display: inline-block;
  background-color: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 3px;
}