.favorites {
  padding: 20px 0px;
}

.favorites .favorite {
  padding: 20px 0px;
  border-bottom: 0.5px solid #c8c8c8;
}

.favorites .favorite a {
  text-decoration: none;  
}

.favorites .favorite .action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.favorites .favorite .btn-action {
  cursor: pointer;
  margin: 10px;
}

.favorites .favorite .btn-heart {
  color: red;
}

.favorites .favorite .btn-cart.active {
  color: var(--primary_color);
 }